---
description: 'Presented in ISO 26262-8 : 2018(E)  Part-8, Clause 8, Page 18'
---

# Verification

## Definition

## Objective

* to ensure that the work products comply with their requirements

## Procedures

### Step 1 : Prerequisites and further supporting information

 Item definitions, relevant information on other items shall be available

### Step 2: HARA initialization



## References

1. [ISO 26262-3:2018 Road vehicles — Functional safety ](https://www.iso.org/standard/68383.html)

