---
description: 'Presented in ISO 26262-8 : 2018(E)  Part-8, Clause 8, Page 18'
---

# Verification

## Definition

**3.76 Hazard analysis and risk assessment \(HARA\)**

method to identify and categorize hazardous events \(3.77\) of items \(3.84\) and to specify safety goals \(3.139\) and ASILs \(3.6\) related to the prevention or mitigation of the associated hazards \(3.75\) in order to avoid unreasonable risk \(3.176\)

## Objective

* to ensure that the work products comply with their requirements

## Procedures

### Step 1 : Prerequisites and further supporting information

 Item definitions, relevant information on other items shall be available

### Step 2: HARA initialization



## References

1. [ISO 26262-3:2018 Road vehicles — Functional safety ](https://www.iso.org/standard/68383.html)

